<nav>
    <div class="nav-wrapper">
      <div class="admin-photo">
         <img src="/img/logo.png" img="" href="#" class="photo" alt="Admins photo"></img>
         {{#if adminId}}
          <p class="admin">Admin</p>
         {{/if}}
      </div>
      <ul class="lang">
        <li class="lang__type">EN</li>
        <li class="lang__type">RU</li>
      </ul>
    </div>
  </nav>